.banner{
    background-color: red;
    border-radius: 10px;
    border:5px blue;
    width: 500px;
    height:50%;
}
body{
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.banner h1{
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
    color: darkorange;
    min-height: 10vh;
}
.banner input{
    width: 100%;
    position:relative;
    width: 350px;
    height: 40px;
    margin: 10px 20px 10px 20px;
    padding: 1px;
}
.button{
    background-color:black;
    color: cyan;
padding: 20px;
    font-family: "cursive;
}